body {
    background: linear-gradient(135deg, #3c1733, #77216f);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.fi-section-content-ctn {
    border: none !important;
}

.dark\:bg-gray-900:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(46 0 41 / 30%) !important;
}

body > div.fi-layout.flex.min-h-screen.w-full.flex-row-reverse.overflow-x-clip > div.fi-main-ctn.w-screen.flex-1.flex-col.flex > div > nav {
    backdrop-filter: blur(10px) !important;
}

body > div.fi-layout.flex.min-h-screen.w-full.flex-row-reverse.overflow-x-clip > aside > nav {
    backdrop-filter: blur(10px) !important;
}

.dark\:ring-white\/10:is(.dark *) {
    --tw-ring-color: hsl(0deg 53.2% 42.83% / 0%) !important;
}

div.fi-dropdown-panel {
    backdrop-filter: blur(20px) !important;
}